extends layout

block content

  form(action="/login" method="post")
    h1 Please sign in

    .form-group
      label(for="email") Email
      input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus value="test1@example.com")
    .form-group
      label(for="password") Password
      input.form-control(type="password" id="password" name="password" required value="123456")

    button.btn.btn-lg.btn-primary.btn-block(type="submit") Login
